@page "/admin"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject SingletonService DataService
@using WebAPI.Shared;
@using System.Text.Json;

<h1>Welcome, Admin!</h1>

<!-- Add fucntionality for editing items here -->

@code {

	// If items quantities are updated, send value to backend server
		// Update the database with new values
		// Display a message to the user that the update was successful

}

