@page "/catalog"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject SingletonService DataService

@using WebAPI.Shared;

<h1>Catalog</h1>
<p>Complete catalog of items.</p>



@code {

    // Get a full list of the items

    // Display in some sort of table format
}
