@page "/login"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject SingletonService DataService
@using WebAPI.Shared;
@using System.Text.Json;

<h1>Admin Login</h1>
<p>Log in as an administrator to edit items quantities.</p>


<div>
	<!-- Have some sort of box with login information -->
		<!-- Username field -->
		<!-- Password field -->
</div>

@code {

	// Implement backend logic for verifying login credentials
		// If successful, give user permissions for Admin page
}


